*.a
*.la
*.lo
*.so
*.o
/iptables_1.4.20/.deps/
/iptables_1.4.20/.dirstamp
/iptables_1.4.20/.libs/
/iptables_1.4.20/Makefile
/iptables_1.4.20/Makefile.in

/iptables_1.4.20/extensions/GNUmakefile
/iptables_1.4.20/extensions/initext.c
/iptables_1.4.20/extensions/initext?.c
/iptables_1.4.20/extensions/matches?.man
/iptables_1.4.20/extensions/targets?.man

/iptables_1.4.20/aclocal.m4
/iptables_1.4.20/autom4te.cache/
/iptables_1.4.20/build-aux/
/iptables_1.4.20/config.*
/iptables_1.4.20/configure
/iptables_1.4.20/libtool
/iptables_1.4.20/stamp-h1
